.cvb-personal-info{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 0.5rem;
    margin-bottom: 1rem
}

.cvb-personal-info h2{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    font-size: 16px;
    padding: 0px
}

.cvb-personal-info p{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;

}

.cvb-render-popup-content{
    display: flex;
    flex-direction: column;
}